.choice {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}

.choice p {
  border: 2px solid #0275d8;
  cursor: pointer;
}

.choice p:hover {
  color: #fff;
  background-color: #67b8ff;
}

@media screen and (min-width: 576px) {
  .choice {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

svg {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: 2%;
  cursor: pointer;
}

@media screen  and ( max-width:576px){
  svg{
    bottom: 0;
    left: 50% ;
  }
}
